
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div style="margin-top:75px; font-size:2vw; margin-left:30px; margin-right:30px">
    <%= bootstrap_devise_error_messages! %>
  </div>
<div style="font-size:2vw; margin-left:30px; margin-right:30px; margin-top:75px">
  <div class="form-group">
      <%= f.label :username %><br/>
      <%= f.text_field :username, {:style=>'size:25;', :class => "css_class"} %>
    </div>


  <div class="form-group" >
    <%= f.label :email %> <br/>
    <%= f.email_field :email, {:style=>'size:25;', :class => "css_class"} %>
  </div>

  <div class="form-group">
    <%= f.label :password %> <br/>
    <%= f.password_field :password, {:style=>'size:25;', :class => "css_class"}  %>

    <% if @minimum_password_length %> <br/>
      <small style="font-size:1vw;" class="form-text text-muted"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %> <br/>
    <%= f.password_field :password_confirmation, {:style=>'size:25;', :class => "css_class"} %>
  </div>

  <div class="form-group" >
    <%= f.submit t('.sign_up'), {:style=>'size:25;', :class => "css_class"} %>
  </div>
<% end %>
</div>

</div>
