<div style="font-size:2vw; margin-left:20px; margin-right:30px; margin-top:90px">


  <section class="features4 counters cid-r7p52rqYmR visible" id="features4-6">


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
              <p class="mbr-section-sub-title pb-4 mbr-normal mbr-fonts-style display-4" style="width:200px;">
                <%= image_tag @user.user_photo, class: 'd-block w-100' if @user.user_photo.attached? %>
                <%= @user.username %>
              </p>
              <% if user_signed_in? && current_user != @user %>
                <% if current_user.following?(@user) %>
                  <p style="width:200px;">
                    <%= button_to "Unfollow", follows_path(user_id: @user.id), method: :delete %>
                  </p>
                <% else %>
                <p style="width:200px;">
                  <%= button_to "Follow", follows_path(user_id: @user.id) %>
                </p>
                <% end %>
              <% end %>

                <div class="media-container-row">
                    <div class="card p-3 col-12 col-md-6 border-r col-lg-4">

                        <div class="card-box">
                            <h4 style="font-size:2vw;" class="count card-title mbr-fonts-style mbr-white mbr-normal align-center display-1">
                              <%= Follow.where(follower_id: @user.id).count %></h4>
                            <p style="font-size:2vw;" class="mbr-text mbr-fonts-style mbr-white mbr-normal align-center display-4">
                              Following</p>
                        </div>
                    </div>

                    <div class="card p-3 col-12 col-md-6 border-r col-lg-4">

                        <div class="card-box">
                            <h4 style="font-size:2vw;" class="count card-title mbr-fonts-style mbr-white mbr-normal align-center display-1">
                              <%= Follow.where(following_id: @user.id).count %></h4>
                            <p style="font-size:2vw;" class="mbr-text mbr-fonts-style mbr-white mbr-normal align-center display-4">
                                Followers</p>
                        </div>
                    </div>

                    <div class="card p-3 col-12 col-md-6 border-r col-lg-4">

                        <div class="card-box">
                            <h4 style="font-size:2vw;" class="count card-title mbr-fonts-style mbr-white mbr-normal align-center display-1">
                              <%= Post.where(user: @user).count %></h4>
                            <p style="font-size:2vw;" class="mbr-text mbr-fonts-style mbr-white mbr-normal align-center display-4">
                                Posts</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<%= render 'shared/posts', posts: @posts %>
</div>
