<div class="row" style="font-size:2vw; margin-bottom:25px;margin-left:30px; margin-right:30px; margin-top:100px">
  <div class="col-md-9">
    <div class="card">
      <div class="card-body p-2">
          <%= image_tag @post.image, class: 'd-block w-100' if @post.image.attached? %>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <%= link_to @post.user.username, profile_path(@post.user.username) %>
    <% if current_user == @post.user %>
      <%= button_to "DELETE POST", post_path(@post), :method => :delete, :data => { :confirm => "Are you sure?" },  class: 'btn btn-danger' %>
    <% end %>

    <% if user_signed_in? %>
      <% if current_user.likes?(@post) %>
        <p>
          <%= button_to "Dislike", likes_path(post_id: @post.id), method: :delete  %>
        </p>
      <% else %>
        <p>
          <%= button_to "Like", likes_path(post_id: @post.id) %>
        </p>
      <% end %>
    <% end %>

    <p class="border-top mt-3 py-2">
      <%= Like.where(post_id: @post.id).count %>
      <% if Like.where(post_id: @post.id).count == 0 %>
        user(s) like this post
      <% else %>
        <%= link_to " user(s) like this post", likes_path(@post.id) %>
      <% end %>
    </p>

    <p class="border-top mt-3 py-2">
      <% if (@post.description.present?) %>
        <%= @post.description %> <br/>
      <% end %>
      <span class="text-muted">
          <%= time_ago_in_words @post.created_at %> ago
      </span>
    </p>

    <p class="border-top mt-3 py-2">
      <h2>Comments:</h2>
      <%= render 'comments/comment', comments: @post.comments %>
      </p>
    <% if user_signed_in? %>
      <p class="border-top mt-3 py-2">
        <h2>Add new comment:</h2>
        <%= render 'comments/form', post: @post %>
      </p>
    <% end %>
  </div>

</div>
